#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: grid;
  place-items: center;
  color: white;
}

.text {
  line-height: 0.5;
  margin-bottom: 2rem;
  text-align: center;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  border: none;
  border-radius: 0.7rem;
  padding: 0.6rem;
  margin-right: 1rem;
  max-width: 70vw;
  min-width: 20vw;
  min-height: 1rem;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

ul {
  background: #191825;
  box-shadow: 0 8px 32px 0 rgba(162, 26, 203, 0.356);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;

  padding: 1rem;
  width: 60vw;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px dotted black;
  padding: 1rem 0;
}

li h4 {
  margin: 0 1rem;
  flex: 1;
}

i {
  font-size: 1rem;
  cursor: pointer;

  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

i:active {
  outline: 2px solid white;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
}

.priority {
  text-align: center;
}

.fa-trash-can {
  text-align: center;
}

.pixi {
  height: 5rem;
  width: 5rem;
}
